<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="editRecipe()">New Recipe</button>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">
    <!-- <app-recipe-item *ngFor="let eachRecipe of recipeList" [singleRecipe]="eachRecipe" (recipeDetail)="getItem(eachRecipe)"></app-recipe-item> -->
    <!-- <app-recipe-item *ngFor="let eachRecipe of recipeList" [singleRecipe]="eachRecipe"></app-recipe-item> -->
    <app-recipe-item *ngFor="let eachRecipe of recipeList; let i=index" [singleRecipe]="eachRecipe" [recipeId]="i"></app-recipe-item>
  </div>
</div>

